apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/deployment.yaml
  - ../../base/service.yaml
namespace: dev
images:
  - name: ciberkleid/go-sample-app # used for Kustomize matching
    newTag: 1.0.1
namePrefix: dev-
